{% extends 'base.html' %} 
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">
        <b>Acerca</b>
        <hr />
        <p class="font-13 rc-footer-font">¡Presentamos nuestra innovadora aplicación de reciclaje! Nuestra aplicación está diseñada para hacer
          una vida con conciencia ecológica más accesible y cómoda. Con una interfaz fácil de usar,
          simplifica el proceso de eliminación de basura en los lugares correctos.</p>
        <p class="font-13 rc-footer-font">Simplemente escaneando un código de barras o tomando una foto de un artículo, nuestra aplicación identifica
          el material y proporciona instrucciones detalladas sobre cómo y dónde reciclarlo correctamente.
          Ya sean plásticos, papel, vidrio o desechos electrónicos, nuestra aplicación guía a los usuarios hasta los centros de reciclaje, 
          puntos de recolección o lugares de entrega más cercanos.</p>
        <p class="font-13 rc-footer-font">Además de promover la eliminación responsable de residuos, nuestra aplicación también rastrea su
          esfuerzos ecológicos, proporcionando información sobre su impacto ambiental, como la cantidad de residuos que ha
          desviados de los vertederos y el ahorro de energía logrado mediante el reciclaje. Incluso ofrece recompensas y desafíos.
           animar y motivar a los usuarios a reciclar de forma más eficiente.</p>
        <p class="font-13 rc-footer-font">Únase a nosotros en la misión de reducir los residuos y proteger nuestro planeta.
          Con nuestra aplicación de reciclaje, no solo generarás un impacto positivo en el medio ambiente sino que también experimentarás
          La comodidad de una vida sostenible a tu alcance. Juntos, contribuyamos a una vida más verde,
          futuro más limpio.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3 text-center">
        <img src="{% static 'images/green-rock.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %} 