{% extends 'base.html' %} 
{% block content %}
{% load static %}
<header class="masthead bg-index text-white text-center py-4 d-none d-md-block">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Salva el Mundo!</h2>
    <p>Recicla y acumula puntos!</p>
  </div>
</header>

<div class="p-3">
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-md-5 col-lg-5 col-xl-5 col-xxl-5 mx-auto mb-3">
        <a style="text-decoration: none;" href="{% url 'home.categories' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7">
                  <b class="title-categories text-start rc-no-a">Categorías</b><br /><br />
                  <p class="rc-no-a">Conoce la clasificación general de los residuos</p>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/trash.png' %}" height="auto" class="img-max-home" alt="trash" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5 col-xxl-5 mx-auto mb-3">
        <a style="text-decoration: none;" href="{% url 'scanner.index' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7">
                  <b class="title-categories text-start rc-no-a">Escáner</b><br /><br />
                  <p class="rc-no-a">Descubre dónde debes depositar tu residuo</p>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/scanner.png' %}" height="auto" class="img-max-home" alt="scanner" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 