{% extends "base.html" %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12 col-lg-12 col-xl-12 mx-auto">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card shadow-lg p-3 mb-4 bg-sv-black rounded border-0 sv-border-20">
                <div class="card-body">
                  <b class="title-categories text-start rc-no-a font-24">Restablecimiento de contraseña completado</b><br /><br />
                  <p>
                    Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}