{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="shadow-lg p-3 learn-top-sublevel sv-br-20">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-7 col-sm-7 col-md-7 text-start">
                <b class="title-sublevel text-start rc-no-a">Blanco</b><br /> <div class="title-sublevel">Residuos<br />
                  Reciclables</div><br />
                <div class="font-learn13">Aquí van todo tipo de <b>residuos que pueden tener una segunda vida</b>. 
                  Todo lo que podemos reciclar y reusar. Como el papel y cartón limpios, empaques y desechables. <br /><br />
                  En la caneca blanca debes depositar <b>papel y cartón limpios</b>. No importa si están arrugados, 
                  pero <b>no deben tener residuos de grasa</b>.
                </div>
              </div>
              <div class="col-5 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/whites.png' %}" class="img-max100 img-maxw300" alt="c1" />
              </div>
            </div>
          </div>

          <div class="pt-3 pb-3">
            <div class="container mt-2">
              <div class="row text-center">
                <div class="col-12 mx-auto">
                  <div class="shadow-lg p-3 learn-top sv-br-20">
                    <div class="container">
                      <div class="row align-items-center">
                        <div class="col-12 text-white text-center">
                          <b>¿Qué puede ir aquí?</b><br /><br />
                          <img src="{% static 'images/learn/group-white.png' %}" class="img-max100 img-maxw300" alt="c1" /><br /><br />
                          <div class="font-learn13">Aquí también van <b>botellas, envases, envolturas, desechables y
                            bolsas limpias</b>. Pueden estar sucios, pero sin líquidos.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container mt-4">
              <div class="row align-items-center">
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/learn/tip.png' %}" class="img-max100 img-maxw300" alt="c1" />
                </div>
                <div class="col-7 col-sm-7 col-md-7 text-start">
                  <b class="title-sublevel text-start rc-no-a">TIP</b><br />
                  <img src="{% static 'images/learn/logo-black.png' %}" width="120px" alt="c1" /><br /><br />
                  <div class="font-learn13">Si estás frente a un punto <b>ecológico de SASVAR</b>, notarás que hay dos
                    contenedores blancos. En ese caso, en uno de ellos van el papel y cartón limpios,
                    y en el otro los demás residuos mencionados. Eso evita que el papel se contamine y se pueda reciclar.
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <b>Aprende sobre otras categorias</b>
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-1">
    <div class="row text-center">
      <div class="col-md-6 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='negro' %}">
          <div class="shadow-lg p-3 mb-5 learn-top-sublevel rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7 text-start">
                  <span class="title-categories rc-no-a">Residuos <b>No</b></span><br />
                  <b class="title-categories rc-no-a">Aprovechables</b>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/learn/black.png' %}" height="125px" class="img-max100" alt="c1" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='verde' %}">
          <div class="shadow-lg p-3 mb-5 learn-top-sublevel rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7 text-start">
                  <span class="title-categories rc-no-a">Residuos</span><br />
                  <b class="title-categories rc-no-a">Orgánicos</b>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/learn/green.png' %}" height="125px" class="img-max100" alt="c1" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}