{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="shadow-lg p-3 learn-top-sublevel sv-br-20">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12 col-sm-7 col-md-7 text-start mb-4 mb-sm-0">
                <b class="title-sublevel text-start rc-no-a">Negro</b><br /> <div class="title-sublevel">Residuos<br />
                  No Aprovechables</div><br />
                <div class="font-learn13">Aquí van los residuos sucios que <b>no pueden ser reciclados</b>
                  estos residuos son los que terminan en el relleno sanitario.
                </div>
              </div>
              <div class="col-12 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/blacks.png' %}" class="img-max100 img-maxw300" alt="c1" />
              </div>
            </div>
          </div>

          <div class="pt-3 pb-3">
            <div class="container mt-2">
              <div class="row text-center">
                <div class="col-12 mx-auto">
                  <div class="shadow-lg p-3 learn-top sv-br-20">
                    <div class="container">
                      <div class="row align-items-center">
                        <div class="col-12 text-white text-center">
                          <b>¿Qué puede ir aquí?</b><br /><br />
                          <img src="{% static 'images/learn/group-black.png' %}" class="img-max100 img-maxw300" alt="c1" /><br /><br />
                          <div class="font-learn13">En la caneca negra debes depositar <b>papel o cartón contaminados,
                          servilletas, chicles, residuos de barrido, huesos y bolsas de aromática</b>.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <b>Aprende sobre otras categorias</b>
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-1">
    <div class="row text-center">
      <div class="col-md-6 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='blanco' %}">
          <div class="shadow-lg p-3 mb-5 learn-top-sublevel rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7 text-start">
                  <span class="title-categories rc-no-a">Residuos</span><br />
                  <b class="title-categories rc-no-a">Reciclables</b>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/learn/white.png' %}" height="125px" class="img-max100" alt="c1" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='verde' %}">
          <div class="shadow-lg p-3 mb-5 learn-top-sublevel rounded">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-7 col-sm-7 col-md-7 text-start">
                  <span class="title-categories rc-no-a">Residuos</span><br />
                  <b class="title-categories rc-no-a">Orgánicos</b>
                </div>
                <div class="col-5 col-sm-5 col-md-5">
                  <img src="{% static 'images/learn/green.png' %}" height="125px" class="img-max100" alt="c1" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}