{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row text-center">
  <div class="col-12 mx-auto">
    <div class="p-3 learn-top-l1">
      <div class="container">
        <div class="row align-items-center p-3">
          <div class="col-12 col-md-7 text-white text-start mb-4 mb-sm-0">
            <b class="title-level-no-size text-start text-white rc-no-a font-size-main">MÓDULO 1</b></span><br /><br />
            <b class="title-categories-2 text-start text-white rc-no-a">Colorimetría de los
              residuos</b></span><br /><br />
            <span class="font-learn13">En el mundo del reciclaje, existe un <b>código de colores</b> diseñado para
              facilitar la <b>identificación clara de dónde deben ir los residuos</b>.</span>
          </div>
          <div class="col-12 col-md-5">
            <img src="{% static 'images/learn/l1-banner.png' %}" class="img-max100 img-maxw300" alt="c1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-md-6 col-lg-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='blanco' %}">
          <div class="shadow-lg p-3 mb-5 bg-white l1-c1 sv-br-20">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12">
                  <img src="{% static 'images/learn/blanco.png' %}" height="280px" class="img-max100" alt="l1" />
                </div>
                <div class="col-12 text-center">
                  <b class="title-categories rc-no-a">Blanco</b><br />
                  <span class="title-categories rc-no-a">Residuos<br /> Reciclabes</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='negro' %}">
          <div class="shadow-lg p-3 mb-5 bg-white l1-c2 sv-br-20">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12">
                  <img src="{% static 'images/learn/negro.png' %}" height="280px" class="img-max100" alt="l2" />
                </div>
                <div class="col-12 text-center">
                  <b class="title-categories rc-no-a">Negro</b><br />
                  <span class="title-categories rc-no-a">Residuos<br /> No Aprovechables</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'home.learn.l1.sublevel' name='verde' %}">
          <div class="shadow-lg p-3 mb-5 bg-white l1-c3 sv-br-20">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12">
                  <img src="{% static 'images/learn/verde.png' %}" height="280px" class="img-max100" alt="l3" />
                </div>
                <div class="col-12 text-center">
                  <b class="title-categories rc-no-a">Verde</b><br />
                  <span class="title-categories rc-no-a">Residuos<br /> Orgánicos</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}