{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-l1 sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-7 col-sm-7 col-md-7 text-white text-start">
                <b class="title-level text-start text-white rc-no-a">NIVEL 3</b></span><br /><br />
                <b class="title-categories text-start text-white rc-no-a">Residuos que requieren
                    una disposición especial</b></span><br /><br />
                <span class="font-learn13">Algunos residuos necesitan ser <b>separados de una forma especial</b>, bien sea para
                    aprovecharlos o porque deben ir a un vertedero o incinerador especial. Por ello <b>no
                    se depositan en la caneca blanca, negra o verde, sino que tienen puntos de
                    recolección especiales</b>.</span>
              </div>
              <div class="col-5 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/l3/banner.png' %}" class="img-max100 img-maxw300" alt="c1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-white sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-12 col-sm-5 col-md-5 mb-4 mb-sm-0">
                <img src="{% static 'images/learn/l3/bin.png' %}" class="img-max100 img-maxw300 sv-border-20" alt="c1" />
              </div>
              <div class="col-12 col-sm-7 col-md-7 text-start">
                <b class="text-start rc-no-a">¿Dónde se pueden desechar?</b></span><br /><br />
                <span class="font-learn13">En la mayoría de los casos, estos puntos especiales pueden ser encontrados en centros 
                  comerciales, oficinas, supermercados, universidades, entre otros espacios públicos.</span><br /><br />
                <span class="font-learn13">Si estás en tu hogar y no hay un punto de recolección directo, <b>no deposites estos
                  residuos en la cualquier caneca</b>. En su lugar, sepáralos y cuando tengas una
                  cantidad significativa, llévalos contigo a un sitio en donde sepas que si hay un punto
                  de recolección especial.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <b class="title-sublevel font-orange"><u>Tipos de Residuos</u></b><br /><br />
        A continuación, te presentamos algunos de ellos:
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g1.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13"><b>Incluye:</b> computadores, impresoras, teléfonos, celulares, audífonos, cables, cargadores, teclados,
                ratones, pantallas, calculadoras entre otros aparatos electrónicos que ya no funcionen.<br /><br />
                Estos residuos son la composición de varios materiales, y muchos de ellos pueden aprovecharse,
                sin embargo no se depositan en la caneca blanca porque su proceso de recuperación es bastante
                complejo.<br /><br />
                Si aplica y es posible, retira las baterías y déjalas a parte. Estas son otro tipo de residuo especial.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g2.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13">Los puntos de recolección especiales reciben bombillas fluorescentes tubulares (rectas o
                  circulares), bombillas fluorescentes compactas (bombillas ahorradoras), bombillas para alumbrado
                  público (de sodio, mercurio o halogenuro metálico), las bombillas de vehículos, las bombillas halógenas, 
                  dicroicas y las bombillas incandescentes
                  requieren un manejo aún más especial. <b>Consulta localmente qué empresas pueden encargarse de
                  dicho residuo</b>.<br /><br />
                  Evita que las bombillas se rompan durante el transporte o la disposición para evitar causar lesiones
                  o la dispersión de gases peligrosos.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g3.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13">Reúne los medicamentos en cajas y frascos sellados. Procura rasgar las etiquetas para evitar que
                  los medicamentos sean falsificados. Deposita en los puntos todo aquello que haya tenido contacto
                  directo con los medicamentos.<br /><br />
                  Nunca arrojes residuos de medicamento por el desagüe. Esto supone un riesgo para la salud y los
                  ecosistemas naturales.<br /><br />
                  No arrojes residuos con riesgo biológico, jeringas o cuchillas en los puntos de recolección de
                  medicamentos.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g4.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13"><b>Incluye:</b> tanto las baterías genéricas, como las especiales de un aparato electrónico 
                  específico.<br /><br />
                  Las baterías se componen de materiales que si no se manejan adecuadamente, <b>pueden
                  contaminar ecosistemas completos o generar combustiones y/o explosiones</b>.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g2.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13">Existen algunos programas locales que recolectan las latas contenedoras presurizadas de lacas,
                  pinturas, insecticidas, cosméticos, entre otros. Te invitamos a consultar si hay puntos de
                  recolección cercanos a ti para darle un mejor manejo a estos residuos.<br /><br />
                  Te invitamos a consultar si hay puntos de recolección cercanos a ti para darle un mejor manejo a 
                  estos residuos.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="shadow-lg p-3 mb-5 bg-orange-light sv-br-20">
          <div class="container">
            <div class="row align-items-top">
              <div class="col-12 text-start p-3">
                <img src="{% static 'images/learn/l3/g6.png' %}" class="img-max100" alt="c1" /><br /><br />
                <span class="font-learn13">Incluye aceites usados de palma, girasol, canola, soya, oliva, coco, aguacate y ajonjolí; y aceites
                  residuales de tocineta, chicharrón, pollo asado o frito y de atún.<br /><br />
                  Guarda una botella plástica que vayas a desechar y en ella ve depositando los aceites residuales
                  hasta que esta esté llena. Filtra el aceite para que no tenga residuos de alimentos.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}