{% extends 'base_test.html' %}
{% block content %}
{% load static %}

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-l1 sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-5 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/l2/banner.png' %}" class="img-max100 img-maxw300" alt="c1" />
              </div>
              <div class="col-7 col-sm-7 col-md-7 text-white text-start">
                <b class="title-level text-start text-white rc-no-a">NIVEL 2</b></span><br /><br />
                <b class="title-categories text-start text-white rc-no-a">Aprovechables vs No Aprovechables</b></span><br /><br />
                <span class="font-learn13">Aprende a identificar cuándo un residuo se puede aprovechar y cuándo no.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-l2 sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-12 col-sm-7 col-md-7 text-start mb-4 mb-sm-0">
                <b class="title-level-l2 text-start text-white rc-no-a">Aprovechables</b></span><br /><br />
                <span class="font-learn13">Los <b>residuos aprovechables</b> son aquellos que, como su nombre sugiere, pueden <u>ser utilizados 
                  nuevamente después de haber sido descartados</u>. Estos pueden ser <b>reciclados o transformados</b> en su composición para
                   convertirse en un nuevo material.</span><br /><br />
                <span class="font-learn13">En la codificación actual, la <b>caneca blanca y la verde</b> son las que recogen los materiales aprovechables. 
                  La diferencia es que con los residuos de la caneca blanca se <b>fabrican objetos</b> nuevos y con los residuos de la verde
                   se <b>hacen compostajes</b>.</span>
              </div>
              <div class="col-12 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/l2/aprovechables.png' %}" class="img-max100 img-maxw300 sv-border-20" alt="c1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-l2 sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-12 col-sm-5 col-md-5 mb-4 mb-sm-0">
                <img src="{% static 'images/learn/l2/ordinarios.png' %}" class="img-max100 img-maxw300 sv-border-20" alt="c1" />
              </div>
              <div class="col-12 col-sm-7 col-md-7 text-start">
                <b class="title-level-l2 text-start text-white rc-no-a">No Aprovechables</b></span><br /><br />
                <span class="font-learn13">Por otro lado, los <b>residuos no aprovechables</b> son aquellos que, por sus 
                  características, <u>ya no pueden ser utilizados luego de ser desechados</u> y por ende <b>se llevan a un 
                  vertedero</b> o en algunos casos, <b>se incineran</b>.</span><br /><br />
                <span class="font-learn13">En la codificación actual, la <b>caneca negra</b> es la que recoge los residuos no aprovechables.           
                  Para proteger el medio ambiente y evitar altos niveles de contaminación, es importante reducir
                   la cantidad de residuos que son considerados como no aprovechables y que terminan en vertederos. 
                   Por eso te invitamos a continuar aprendiendo sobre cómo clasificar los materiales </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <div class="p-3 learn-top-white sv-br-20">
          <div class="container">
            <div class="row align-items-center p-3">
              <div class="col-12 col-sm-7 col-md-7 text-start mb-4 mb-sm-0">
                <b class="title-sublevel text-start rc-no-a">TIP</b><br />
                  <img src="{% static 'images/learn/logo-black.png' %}" width="120px" alt="c1" /><br /><br />
                <span class="font-learn13">Para definir si un residuo es aprovechable o no, no basta con identificar
                   el material, pues <b>su condición a la hora del desecho es un factor determinante</b>.</span>
              </div>
              <div class="col-12 col-sm-5 col-md-5">
                <img src="{% static 'images/learn/tip-2.png' %}" class="img-max100 img-maxw300 sv-border-20" alt="c1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-12 mx-auto">
        <b class="title-sublevel font-orange">Materiales</b><br /><br />
        A continuación, te presentamos algunos materiales y las condiciones en las que se aprovechan o no:
      </div>
    </div>
  </div>
</div>


<div class="p-3">
  <div class="container mt-4">
    <div class="row text-center">
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2.sublevel' name='papel' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Papel</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Cartón</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Tetra Pak</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Vidrio</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Plástico</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Metal</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Residuos de Alimentos</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Residuos de Plantas</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mx-auto">
        <a style="text-decoration: none;" href="{% url 'app_test.learn.l2' %}">
          <div class="shadow-lg p-3 mb-5 bg-white rounded l-orange">
            <div class="container">
              <div class="row align-items-top">
                <div class="col-12 text-start p-3">
                  <b class="title-categories rc-no-a">Materiales Biológicos</b>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock content %}